{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'styles.css'%}" rel="stylesheet" type="text/css">
	<title>TODO</title>
</head>
<body>
    <div class="topbar">
        <p style="font-family: 'Roboto', 'Noto', sans-serif">BFDjango TODO</p>
    </div>
    <div class="container">
            <button id="addb" style="font-family: 'Roboto', 'Noto', sans-serif">Add Task</button>
            {% block body %}
            {% endblock %}
            <button id="deleteb" style="font-family: 'Roboto', 'Noto', sans-serif">Delete this list</button>
    </div>
</body>
</html>